# Ignora archivos de configuración locales
.env
*.iml
.idea/
*.log
# Permitir la carpeta oculta de Maven Wrapper
!.mvn/
!mvnw
!mvnw.cmd
# Ignora dependencias locales
target/
.mvn/
.settings/

# Ignora control de versiones y sistema de build
.git/
.gitignore
docker-compose.override.yml
Dockerfile*

# Ignora archivos temporales
*.swp
*~